<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        &#169; 2016 Sudeep Agarwal
      </div>

      <!-- <div class="intro-links">
                  <a class="intro-link-item" href="https://www.facebook.com/sudeep135" target="_blank"><img src="/images/facebook.svg"></a>
                  <a class="intro-link-item" href="https://www.twitter.com/sudeeeeeep" target="_blank"><img src="/images/twitter.svg"></a>
                  <a class="intro-link-item" href="https://www.instagram.com/sudeeeeeep" target="_blank"><img src="/images/instagram.svg"></a>
                  <a class="intro-link-item" href="https://www.medium.com/@sudeep.agarwal" target="_blank"><img src="/images/medium.svg"></a>
                  <a class="intro-link-item" href="https://www.github.com/sudeepag" target="_blank"><img src="/images/github.svg"></a>
                  <a class="intro-link-item" href="https://www.linkedin.com/in/sudeepag" target="_blank"><img src="/images/linkedin.svg"></a>
      </div> -->
    </div>

  </div>

</footer>
