<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <img class='sidebar-img' src="/images/photo4.jpg">
        <!--
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
        -->
        <br>
        <div class='sidebar-icons'>
            <a href='http://twitter.com/sudeeeeeep'><img class='icon' src='/images/icons/001-twitter.png'></a>
            <a href='https://www.linkedin.com/in/sudeepag/'><img class='icon' src='/images/icons/002-social.png'></a>
            <a href='https://github.com/sudeepag'><img class='icon' src='/images/icons/003-circle.png'></a>
        </div>
      <p align="center">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Blog</a>
      
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign page_titles = "Research Projects About" | split: ' ' %}
      {% assign pages_list = site.pages %}

        {% for pt in page_titles %}
            {% for node in pages_list %}
                {% if node.title == pt %}
                    {% if node.layout == "page" %}
                        <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}

    </nav>

    <p align='center'>&copy; {{ site.time | date: '%Y' }} Sudeep Agarwal</p>
  </div>
</div>
