/**
 * Site header
 */
.site-header {
    border-top: 5px solid $blue;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.page-title {
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    font-size: 17pt;
    line-height: 56px;
    color: $blue;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    text-align: center;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    font-size: 15px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    word-break: break-word;
    margin-bottom: $spacing-unit;
    font: Verdana;

    h1, h2, h3, h4, h5, h6, {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    code {
        font: 13px Droid Sans Mono;
    }

}

/**
 * Introduction
 */

$intro-header-padding:     10px;
.intro {

    .intro-title {
    display:        table;
    overflow:       hidden;
    width:          100%;
    float:          left;
    font-size:      15px;
    margin-bottom:  25px;

        .intro-col {
            display:        table-cell;
            width:          50%;
            vertical-align: middle;

            .name {
                color: $blue;
                font-weight: 500;
                font-size: $base-font-size + 1px;
            }

            .location {
                color: $grey-color;
            }
        }

        .intro-col-1 {
            padding-right: $intro-header-padding;
            text-align: right;
        }

        .intro-col-2 {
            padding-left: $intro-header-padding;
            text-align: left;
        }

        .profile-picture {
            width: 120px;
            border-radius: 60px;
        }
    }

    .intro-summary {
        text-align: justify;
        text-justify: inter-word;
        .intro-intro {
            font-weight: 400;
        }
        p:last-child {
            margin: 0;
        }

        // @include isPhone() {
        //     text-align: left;
        // }
    }

    .intro-links {
        text-align: center;
        padding-bottom: 20px;
        .intro-link-item {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

/**
 * Talks
 */
 .talk-title {
    margin: 0;
 }

 .talk-entry-wrapper {
    display: table;
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
}

.talk-col {
    float: left;
}

.talk-col-1 {
    width: 80%
}

.talk-col-2 {
    text-align: right;
    width: 20%;
}

.talk-description {
    text-align: justify;
}

.talk-plug {
    font-weight: 400;
}

// @include isSmallTablet() {
//     .talk-col {
//         float: none;
//         width: 100%
//     }
//     .talk-col-2 {
//         text-align: left;
//     }
// }

/**
 * Projects
 */
.projects {

    code {
        font-size: $base-font-size - 4px;
        font-weight: 500;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        >li {
            padding-top: 10px;
        }
    }

    img {
        width: 20px;
        margin: 0px 6px 4px 2px;
    }

    table {
        padding-top: 10px;
    }

    tr {

        >td {
            padding-bottom: 15px;
            vertical-align: top;
            text-align: justify;
        }

        >td:nth-child(odd) {
            width: 178px;
            text-align: right;
            font-weight: 600;
            font-size: 11pt;
            padding-right: 15px;

            // @include isPhone() {
            //     width: 20%;
            //     text-align: left;
            // }
        }

        >td:nth-child(even) {
            padding-left: 20px;
        }
    }

}

/**
 * CV
 */
.cv {

    img {
        float: left;
        margin-top: 3px;
        padding-right: 8px;
        display: inline-block;
        width: 24px;
    }

    .tags {
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
    }

    .tags li {
      float: left;
    }

    .tag {
        background: #eee;
        border-radius: 3px 0 0 3px;
        color: #757575;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 23px;
        position: relative;
        margin: 0 10px 10px 0;
        text-decoration: none;
        -webkit-transition: color 0.2s;
    }

    .tag::before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
    }

    .tag::after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid #eee;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
    }

    .tag:hover {
      background-color: $blue;
      color: white;
    }

    .tag:hover::after {
       border-left-color: $blue;
    }

}

.experience {
    img {
        float: left;
        margin-top: 3px;
        padding-right: 8px;
        display: inline-block;
        width: 24px;
    }

    >div {
        margin-top: 20px;

        .experience-title {
            display: inline-block;
            margin-bottom: 7px;
            font-size: 11pt;
            font-weight: 600;
        }

        .company-name {
            display: inline-block;
            margin-bottom: 3px;
            font-weight: 400;
        }
    }
}

.experience-grey {
    color: #737373;
}

.experience-light-grey {
    color: #A7A7A7;
}
